{%extends "layout.html"%}
{%block content%}
<style>
th,td {
    text-align:center;
    padding:8px;
    border:1px solid black;
}
th{background-color: #f2f2f2;}
tr:nth=child(even){background-color: #f2f2f2;}
</style>

    {% if value == 'name' %}
        <table>
            <thead><tr><th> Name</th></tr></thead>

            {%for d in name%}
                <tbody>
                <tr><td>{{d.Name}}</td></tr>
                </tbody>
            {%endfor%}
        </table>
        <h2>Click Back to Go to Home page</h2>
        <h1><a href ="http://172.18.0.2/",>Back</a></h1>

    {% endif %}
     {%if value=='id'%}
       <table>
            <tr>
                <th> ID</th>
            </tr>
            {%for d in id%}
                <tr>
                    <td>{{d.ID}}</td>
                </tr>
            {%endfor%}

        </table>
        <h2>Click Back to Go to Home page</h2>
        <h1><a href ="http://172.18.0.2/",>Back</a></h1>

    {%endif%}
    {%if value == 'all'%}
        <table>
            <tr>
                <th> Name </th>
                <th> ID </th>
            </tr>
            {%for d in all%}
                <tr>
                    <td>{{d.Name}}</td>
                    <td>{{d.ID}}</td>
                </tr>
            {%endfor%}

        </table>
        <h2>Click Back to Go to Home page</h2>
        <h1><a href ="http://172.18.0.2/",>Back</a></h1>
    {%endif%}
{%endblock content%}