{%extends "layout.html"%}
{%block content%}
<form action="/results" method="POST" >
    <label for = "select">select</label>
    <select class="u-full-width" name="result">
        <option value="name"> Name</option>
        <option value="id"> ID</option>
        <option value="all"> All</option>
    </select>
    <input type="submit"value="Display" id="disp"/>
{%endblock content%}
