<!DOCTYPE html>
<html lang="en">
<head>
    {% if title%}
        <title>{{title}}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    {%block content%}{%endblock%}
</body>
</html>